<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crystal Clear Recruitment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/minilogo.png" alt="Crystal Clear Recruitment" style="height: 50px; margin-right: 10px;" />
                    <span>Crystal Clear Recruitment</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="Seek">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="InterviewTips">Interview Tips & Tricks</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="Index">Add Job</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="Category">Categories</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="MyCVs">My CVs</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Jobs" asp-action="JobCvs">Job Applications</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-lilac nav-link text-dark mr-2" asp-area="Identity" asp-page="/Account/Login" title="Member Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-lilac nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" title="Sign Up" asp-route-admin="User">Sign Up</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="JobSeekers" asp-action="Profile">Profile</a>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                                </div>
                            </li>
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="btn btn-outline-primary ml-2" asp-area="Identity" asp-page="/Account/Register" title="Sign Up" asp-route-admin="admin">Sign Up</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="btn btn-outline-primary ml-2" asp-area="Identity" asp-page="/Account/Register" title="Sign Up" asp-route-admin="User">Sign Up</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 Crystal Clear Recruitment
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
