html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9E9E9E;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

    .navbar-brand img {
        height: 40px;
        margin-right: 10px;
    }

.nav-link {
    font-size: 1.1rem;
}

.btn-outline-primary {
    border-radius: 20px;
    margin-left: 10px;
}

footer {
    background-color: #f8f9fa; /* Optional: background color for the footer */
    padding: 10px 0; /* Optional: some padding for spacing */
}

    footer .container {
        text-align: center; /* This ensures all content inside the container is centered */
    }
